@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
  --color-brand: #7264FF;
  --color-brand-hover: #5b4cf5;
  --color-brand-light: #f0efff;
  
  --color-charcoal-dark: #313142;
  --color-charcoal-medium: #484760;
  --color-charcoal-light: #7e7e8f;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
